<%= partial :_sub_nav_bills %>
<div class="bill">
	<h1><%= @bill['name'] %></h1>
	<p>$<%= @bill['amount'] %></p>
	<p><%= @bill['due_date'] %></p>
	<p><%= @bill['description'] %></p>
	<form action="/bill/delete" method="post">
		<ul class="nav-crud">
			<li><a href="/bill/edit/<%= @bill['_id'] %>">edit</a></li>
			<li><input type="hidden" name="id" value="<%= @bill['_id'] %>"/></li>
			<li><input type="submit" value="delete"/></li>
		</ul>
	</form>
</div>